/Library
/obj
/Out
/temp
/*.userprefs
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-vs.csproj
/*.csproj
/*.sln
/*.suo
/Temp
/Assets/Plugins/Shmipl.dll
/Assets/Plugins/Cyclades.dll
/UnityVS.Cyclades.sln.DotSettings
obj
