/Library
/obj
/temp
/*.userprefs
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-vs.csproj
/*.sln
/Temp
/Assets/Plugins/Shmipl.dll
/Assets/Plugins/Cyclades.dll
